header {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-weight: bold;
    padding: 5px;
}

body {
    width: 800px;
    margin: 0 auto;
    font-size: 18px;
}


footer {
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}